/**********************************/
/* Josh Comeau’s custom CSS reset */
/**********************************/

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p, li, figcaption {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/******************/
/* Root variables */
/******************/
:root {
  --sidebar-bg-clr: #001D3D;
  --sidebar-text-clr: #FFFFFF;
  --sidebar-link-hover-clr: #FFC300;
  --sidebar-link-active-clr: #FFD60A;
}

/*************************/
/* Main page grid layout */
/*************************/
.main-container {
  min-height: 100vh;
  
  display: grid;
  grid-template: 1fr 5fr / max-content 1fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

/***********/
/* SIDEBAR */
/***********/

.sidebar {
  padding: 2rem 5rem 2rem 2.5rem;
  background-color: var(--sidebar-bg-clr);
  color: var(--sidebar-text-clr);
  
  grid-area: sidebar;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 4.5rem;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidebar-logo-icon {
  width: 4rem;
  height: auto;
  filter: invert(1);
}

.sidebar-logo-text {
  font-weight: 700;
  font-size: 2.25rem;
}

.sidebar-menu {
  padding-left: 1.25rem;
  
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sidebar-menu-item {
  list-style-type: none;

  display: flex;
  align-items: center;
  gap: 2rem;
}

.sidebar-menu-item-icon {
  width: 1.75rem;
  height: auto;
  filter: invert(1);
}

.sidebar-menu-item-text {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--sidebar-text-clr);
}

.sidebar-menu-item-text:hover {
  color: var(--sidebar-link-hover-clr)
}

.sidebar-menu-item-text:active {
  color: var(--sidebar-link-active-clr)
}

/**********/
/* HEADER */
/**********/

/*** TEMPORAL ***/
.header * {
  outline: 1px solid black;
}
/*** TEMPORAL ***/

.header {
  padding: 2rem 3rem;
  background-color: lightslategray;
  
  grid-area: header;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 1rem;
}

.header-top {
  background-color: lightgreen;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.header-search-area {
  flex: 1;
  max-width: 1000px;

  display: flex;
  align-items: center;
  flex: 1;
  gap: 1rem;
}

.header-search-input {
  border: none;
  border-radius: 1rem;
  height: 2rem;
  width: 100%;
  padding-inline: 1rem;
  font-size: 1.15rem;
}

.header-search-button {
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: none;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-search-icon {
  width: 1.75rem;
  height: auto;
}

.header-notification-area {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-notification-icon {
  width: 2rem;
  height: auto;
}

.header-profile-picture-small {
  width: 3.5rem;
  height: auto;
  border: none;
  border-radius: 50%;
}

.header-username {
  font-weight: 700;
  font-size: 1.25rem;
}

.header-bottom {
  background-color: lightskyblue;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-user-greeting-area {
  font-weight: 700;
  
  display: grid;
  grid-template: repeat(2, auto) / min-content 1fr;
  grid-template-areas: 
    "header-picture user-greeting"
    "header-picture username-handle";
  column-gap: 1rem;
  align-items: center;
}

.header-profile-picture-medium {
  grid-area: header-picture;

  min-width: 4.5rem;
  height: auto;
  border: none;
  border-radius: 50%;
}

.header-greeting {
  grid-area: user-greeting;
}

.header-username-handle {
  grid-area: username-handle;

  font-size: 1.75rem;
}

/********/
/* MAIN */
/********/
.main {
  grid-area: main;
}